:root {
  --body-main-color: rgb(237 237 237);
  --backgpound-color-nav-menu:#fff;
  --color-link-menu: rgb(33, 35, 36);
  --color-hover-link-menu: rgb(143, 143, 143);
  --color-hover-border-link-menu: #534e4e;

  --color-link-mobile-menu: aliceblue;
  --color-hover-link-mobile-menu: #fff;
  --color-hover-border-link-mobile-menu: #fff;
  --color-background-menu-mobile: #4c4c4c;
  --color-burger: #222;
  --block-content-max-width: 1400px;

  --background-color-text-content: var(--color-hover-border-link-menu);
  --color-text-content: #fff;
  --backgpound-color-aside: rgb(95, 95, 122);
  --aside-h2-color-text: #fff;
  --color-ul-item: rgb(26, 88, 150);
  --backgpound-color-h2-header-aside: rgb(143, 136, 136);
  --backgpound-color-h2-header-before: rgb(238, 241, 21);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--body-main-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--block-content-max-width);
  width: 100%;
}
.section-title {
  padding-left: 40px;
  position: relative;
  color: var(--aside-h2-color-text);
  background-color: var(--backgpound-color-h2-header-aside);
}
.section-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: var(--backgpound-color-h2-header-before);
}

/* Block Person info and foto */

.person-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.person-foto {
  width: 30%;
  overflow: hidden;
}
.person-foto-wrapper {
  text-align: center;
  width: 100%;
  height: 500px;
}
.img-responsive {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.person-profi {
  display: flex;
  align-items: center;
  width: 70%;
}
.person-wrapper {
  padding: 40px;
}
.person-wrapper .person-name {
  padding-bottom: 20px;
}
.person-wrapper .person-jobs {
  font-style: italic;
  font-size: 30px;
  background-color: var(--background-color-text-content);
  color: var(--color-text-content);
}
/* end person block */

/* Styles main Menu*/
.header-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
}

.page-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--backgpound-color-nav-menu);
  z-index: 3;
}

.page-navigation {
  font-size: 18px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
}

.site-navigation__item {
  list-style: none;
}

.site-navigation-link {
  color: var(----color-link-menu);
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  transition: all 0.6s ease;
  text-transform: uppercase;
}

.site-navigation-link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.5s ease-out;
}

.site-navigation-link:hover::after {
  width: 100%;
}

.site-navigation-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--color-hover-border-link-menu);
  opacity: 0;
  transition: 0.7s;
  pointer-events: none;
  transform: scale(0.8);
}

.site-navigation-link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.site-navigation-link:hover {
  color: var(--color-hover-link-menu);
}
/* end main menu */

/* sidebar slyles */

aside {
  display: block;
  background-color: var(--backgpound-color-aside);
  width: 30%;
  color: #fff;
}

.common-style ul {
  list-style: none;
  padding: 40px;
}
.contacts {
  margin-top: 60px;
}


.languages-item {
  line-height: 16px;
  position: relative;
  padding: 0 0 10px 15px;
}
.languages-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--backgpound-color-h2-header-before);
}
.skill-wrapper {
  list-style: none;
  padding: 40px;
}
.skill-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.skill-text {
  margin-right: 10px;
}
.skill-list {
  display: flex;
  text-align: center;
  list-style: none;
}
.skills-item {
  width: 10px;
  height: 10px;
  background-color: var(--backgpound-color-h2-header-before);
  border-radius: 50%;
  margin-right: 5px;
}
.skills-list-item-gray {
  background-color: var(--color-hover-border-link-menu);
}
.about {
  padding: 20px 20px 20px 40px;
}

/* end sidebar styles */
main {
  width: 70%;
}
.edu-block {
  padding: 20px 20px 20px 40px;
}
.udy-date {
  display: inline-block;
  background-color: var(--backgpound-color-h2-header-before);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
}
footer {
  height: 100px;
  background-color: darkcyan;
  width: 100%;
}

@media (max-width: 992px) {
  /* Adaptive content blocks */

  .person-foto {
    flex: 0 0 100%;
    width: 100%;
  }
  .img-responsive {
    width: auto;
    height: 100%;
  }
  .person-profi {
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  aside {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
  }
  main {
    flex: 0 0 100%;
    max-width: 100%;
    order: 0;
  }
}

@media (max-width: 767px) {
  .header-wrapper {
    justify-content: end;
  }

  .content {
    padding-top: 42px;
  }
  .page-navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: var(--color-background-menu-mobile);
    transform: translateY(-200%);
    transition: all 0.7s ease;
  }

  .site-navigation {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }

  .site-navigation-link {
    color: var(--color-link-mobile-menu);
  }

  .site-navigation-link:hover {
    color: var(--color-hover-link-mobile-menu);
  }

  .site-navigation-link:hover::before {
    border-color: var(--color-hover-border-link-mobile-menu);
  }

  .page-header-burger {
    display: block;
    position: relative;
    cursor: pointer;
    height: 22px;
    width: 24px;
    margin: 10px 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

  .page-header-burger:hover {
    opacity: 1;
  }

  .burger-line {
    position: absolute;
    top: 10px;
    width: 24px;
    height: 2px;
    display: block;
    background-color: var(--color-burger);
    transition: all 0.4s;
  }

  .page-header-burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 14px;
    height: 2px;
    display: block;
    background-color: var(--color-burger);
    transition: all 0.4s;
  }

  .page-header-burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 14px;
    height: 2px;
    display: block;
    background-color: var(--color-burger);
    transition: all 0.4s;
  }
  .page-header-burger:hover .burger-line {
    opacity: 0;
  }

  .page-header-burger:hover::before {
    top: 10px;
    width: 20px;
    transform: rotate(45deg);
  }

  .page-header-burger:hover::after {
    top: 10px;
    width: 20px;
    transform: rotate(135deg);
  }
}
@media (max-width: 576px) {
  .person-foto-wrapper {
    height: 360px;
  }
}
@media (max-width: 320px) {
  .person-foto-wrapper {
    height: 280px;
  }
}
